* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

body {
    margin: 0;
    background-image: url("/img/background.jpeg");
}

.content {
    display: block;
    background-color: white;
    width: 60%;
    height: 100vh;
    margin: auto;
    padding: 20px;
}

header {
    top: 0;
    position: sticky;
}
/*Estilos para los titulos*/
h1, h2, h3, h4, h5, h6 {
    color: darkcyan;
}

/*Bloque de estilos para el header*/
.flex-container {

    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
    width: 100%;
    height: 100px;
}
.flex-item {
    margin: 25px;
    align-self: center;

}

/*Estilo de las paginas del header*/
.flex-item > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.flex-item > a:hover {
    color: lightblue;
}

/*Bloque de estilos para el subheader*/
.sub-header {
    display: flex;
    align-content: flex-end;
    height: 30px;
    background-color: rgb(222, 222, 222);
    color: gray;

}
.breadcrumbs {
    margin-right: auto;
    align-self: center;    
    margin-left: 5px;

}

.options {
    align-self: center;
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}

.options > a {
    color: gray;
    text-decoration: none;
}

.options > a:hover {
    color: lightgray;
}
/*Estilos para las listas*/
.list_options {
    list-style: square;
}

.list_options > li {
    margin-top: 10px;
}

.list_options > li > a {
    color: darkcyan;
}

.list_options > li > a:hover {
    color: lightblue;
}

/*Estilos de las tablas*/
.tabla-all {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid darkcyan;
}

.all-headers {
    background-color: darkcyan;
    color: white;
}

.nTotales {
    color: darkcyan;
    text-align: right;
    padding: 15px;
}

.tr-data {
    border-bottom: 1px solid darkcyan;
}

.tr-data > td {
    text-align: center;
    padding: 15px;
}

/*Estilo que esconde un bloque con un valor*/
.objectHidden {
    display: none;
}

/*Estilos para el footer*/
.footer {
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: darkcyan;
    align-content: center;
}

.footer-content {
    margin: auto;
    color: white; 
}
.footer-content > a {
    font-weight: bold;
    color: aliceblue;
}